/*--------ANIMACION QUE HACE QUE EL CONTENEDOR APARESCA, SALIENDO DE ARRIBA--------*/
@-moz-keyframes aparicion{
	0%{
		opacity: 0;
		top: -10px;
	}
	100%{
		opacity: 1;
		top: 105%;
	}
}
@-webkit-keyframes aparicion{
	0%{
		opacity: 0;
		top: -10px;
	}
	100%{
		opacity: 1;
		top: 105%;
	}
}
@-o-keyframes aparicion{
	0%{
		opacity: 0;
		top: -10px;
	}
	100%{
		opacity: 1;
		top: 105%;
	}
}
@keyframes aparicion{
	0%{
		opacity: 0;
		top: -10px;
	}
	100%{
		opacity: 1;
		top: 105%;
	}
}
/*-----------------FIN DE LA ANIMACIÓN-------------------------------*/

@-moz-keyframes aumento{
	0%{
		height: 0;
		font-size: 0;
	}
	100%{
		height: auto;
		font-size: 1.2em;
	}
}
@-webkit-keyframes aumento{
	0%{
		height: 0;
		font-size: 0;
	}
	100%{
		height: auto;
		font-size: 1.2em;
	}
}
@-o-keyframes aumento{
	0%{
		height: 0;
		font-size: 0;
	}
	100%{
		height: auto;
		font-size: 1.2em;
	}
}

@keyframes aumento{
	0%{
		height: 0;
		font-size: 0;
	}
	100%{
		height: auto;
		font-size: 1.2em;
	}
}

/*-----------------  ANIMACIÓN  3-------------------------------*/

@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-o-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

/*-----------------  ANIMACIÓN  4-------------------------------*/

@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@-o-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave-porcen {
  0% {
    height: 90%;
    width: 90%;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200%;
    width: 200%;
    margin-left: -1.1em;
    margin-top: -1.1em;
    opacity: 0;
  }
}